# Pytest
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test outputs
tests/outputs/
tests/tmp/
tests/data/raw

.vscode
test/output

*/.ipynbs_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
tests/archive/.ipynb_checkpoints
